@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
}

:root {
    --red: #B61A22;
    --white: #FFFCFD;
    --black: #1E1E1E;
    --gray: #949CA5;
    --light-blue: #EFF3FB;
}

/*MENU*/

header nav{
    width: 100%;
    top: 0;
    right: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

nav img{
    width: 7%;
}

nav ul{
    display: flex;
    justify-content: right;
    padding: 10px;
}

nav ul li{
    list-style: none;
    margin-top: 2%;
}

nav ul a{
    text-decoration: none;
    color: white;
    margin: 10px;
    border-bottom: 2px solid #ffffff00;
    font-size: 1.1rem;
}

nav ul a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 2px;
    transition: all 300ms ease-in;
}

#btn_menu{
    display: none;
}

#btn_menu_close{
    display: none;
}

/*MAIN*/

main {
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    z-index: -1;
}

main::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-color: #1e1e1e5e;
    height: 100%;
}

.main-content{
    position: absolute;
    top: 40vh;
    left: 0;
    text-align: center;
    color: white;
}

.main-content h1{
    font-size: 4rem;
}

.main-content h2{
    margin-bottom: 22px;
    font-weight: 300;
}

/*BUTTONS*/

.red-btn{
    background-color: var(--red);
    color: var(--white);
    text-decoration: none;
    padding: 8px 16px;
    font-size: 1rem;
    font-weight: 350;
}

.red-btn:hover{
    background-color: #93161c;
    transition: all 200ms ease-in;
}

span{
    color: var(--red);
    font-weight: 500;
}

/*ABOUT SECTION*/

#about-section{
    padding: 3%;
}

.container-about {  
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 0.1fr;
    gap: 5px 25px;
    grid-template-areas:
      "img-left img-right"
      "about-section-p about-section-p";
  }
  
  .about-section-p { grid-area: about-section-p; }
  
  .img-right { grid-area: img-right; }
  
  .img-left { grid-area: img-left; }
  

.img-left{
    width: 21rem;
    border: 2px solid #1E1E1E;
}

.img-right{
    width: 51.6rem;
    border: 2px solid #1E1E1E;
}

.grid-about-p{
    padding: 3%;
    margin-top: 2%;
    background-color: var(--light-blue);
    border: 2px solid #1E1E1E;
}

/*GRID MEMEBERS*/

.members{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    grid-gap: 40px;
    text-align: center;
    justify-content: center;
    padding: 3%;
}

.member-card{
    display: block;
}

.member-card img{
    width: 10vw;
    border: 1.5px solid #B61A22;
    margin-bottom: 10px;
}

.member-card a {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #1E1E1E;
    border-bottom: 2px solid #ffffff00;
}

.member-card a:hover{
    color: #B61A22;
    border-bottom: 2px solid #B61A22;
    transition: all 300ms ease-out;
}


/*AUDIO SECTION*/

#audio-section{
    background-color: var(--light-blue);
    padding: 5% 23%;
}

#audio-section img{
    width: 250px;
    margin-right: 5vw;
    border: 1px solid #1E1E1E;
}

#audio-section a{
    margin-left: 37vw;
}

.audio-cover{
    display: flex;
    justify-content: center;
}

.audio{
    margin-top: 3%;
}

.audio h2{
    font-size: 1.5rem;
    line-height: 8vh;
}

.border-section{
    border: 1px solid #B61A22;
    padding: 8vh;
}


/*VIDEO SECTION*/

#video-section{
    display: flex;
    padding: 5%;
    justify-content: center;
}

#video-section iframe{
    border: 2px solid #B61A22;
    margin-bottom: 4%;
}

.card{
    margin: 2vw;
    border: none;
}

.card h2{
    font-size: 1.5rem;
}

/*FOOTER*/

footer{
    background-color: var(--gray);
    padding: 5vh;
    display: flex;
    justify-content: space-between;
}

footer h2{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 400;
}

.social .bx{
    color: var(--white);
    font-size: 1.8rem;
    margin: 5px;
}

.social .bx:hover{
    color: var(--red);
    transition: all 300ms ease-in;
}


/*RESPONSIVE*/

@media screen and (max-width:1200px) {
    
    /*ABOUT SECTION*/
    .container-about {  
        display: grid;
        grid-template-columns: 0.2fr 0.5fr;
        grid-template-rows: 0.1fr;
        grid-template-areas:
          "img-left img-right"
          "about-section-p about-section-p";
      }
      
      .about-section-p { grid-area: about-section-p; }
      
      .img-right { grid-area: img-right; }
      
      .img-left { grid-area: img-left; }
      
      
    .img-left{
        width: 16rem;
        border: 2px solid #1E1E1E;
    }
    
    .img-right{
        width: 40rem;
        border: 2px solid #1E1E1E;
    }

    .grid-about-p{
        padding: 3%;
        margin: 2% 5%;
        background-color: var(--light-blue);
    }
   
}


@media screen and (max-width:1024px) {

    /*MENU*/
    .logo{
        width: 5rem;
    }

    nav ul li{
        margin-top: 6%;
    }
    
    .container-about {  display: grid;
        grid-template-columns: 0.1fr 0.4fr;
        gap: 5px 20px;
        grid-auto-flow: row dense;
        grid-template-areas:
          "img-left img-right"
          "about-section-p about-section-p";
      }
      
      .about-section-p { grid-area: about-section-p; }
      
      .img-right { grid-area: img-right; }
      
      .img-left { grid-area: img-left; }
      
      
      
      
    .img-left{
        width: 15rem;
        border: 2px solid #1E1E1E;
    }
    
    .img-right{
        width: 37rem;
        border: 2px solid #1E1E1E;
    }

    .grid-about-p{
        padding: 3%;
        margin: 2% 2.4%;
    }

    /*GRID MEMEBERS*/

    .member-card img{
        width: 13vw;
        margin-bottom: 10px;
    }

    /*AUDIO SECTION*/

    #audio-section{
        padding: 5% 15%;
    }

    #audio-section a{
        margin-left: 45vw;
    }

    .audio h2{
        font-size: 1.3rem;
    }

    /*VIDEO SECTION*/

    .card{
        height: 70vh;
    }

    .card h2{
        font-size: 1.5rem;
    }

}

@media screen and (max-width:768px) {

    /*MENU*/

    .logo{
        width: 4.5rem;
    }

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: var(--black);
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
        
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
        display: flex;
        background-color: #00000000;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: var(--white);
    }

    .menu nav img{
        width: 50px;
        display: block;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #0e0e0e80;
        display: none;
    }

    #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        font-size: 24px;
        cursor: pointer;
        transition: all 300ms;
        color: var(--white);
        font-size: 1.8rem;
    }

    #btn_menu:hover{
        background: var(--red);
    }

    #btn_menu_close{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-left: 22vw;
        font-size: 24px;
        cursor: pointer;
        transition: all 300ms;
        color: var(--white);
        font-size: 1.8rem;
    }

    #btn_menu_close:hover{
        background: var(--red);
    }

    .main-content{
        position: absolute;
        top: 18vh;
        left: 0;
        text-align: center;
        color: var(--white);
    }
    
    .main-content h1{
        font-size: 3rem;
    }
    
    .main-content h2{
        margin-bottom: 22px;
        font-weight: 300;
    }
      
    .img-left{
        width: 11rem;
        border: 2px solid #1E1E1E;
    }
    
    .img-right{
        width: 25rem;
        border: 2px solid #1E1E1E;
    }

    .grid-about-p{
        padding: 3%;
        margin: 2% 5%;
    }

    /*GRID MEMEBERS*/

    .members{
        grid-template-columns: repeat(3, 0fr);
        grid-gap: 20px;
    }

    .member-card img{
        width: 18vw;
        margin-bottom: 10px;
    }

    /*AUDIO SECTION*/

    #audio-section{
        padding: 5% 26%;
    }

    #audio-section a{
        margin-left: 0vw;
        padding: 2vh 12vw;
    }

    .audio-cover{
        display: block;
        text-align: center;
    }

    .audio{
        margin: 8% 0%;
    }

    audio{
        width: 35vw;
    }

    .audio h2{
        font-size: 1.2rem;
    }

    .border-section{
        padding: 10vh;
        width: 55vw;
    }

    /*VIDEO SECTION*/

    #video-section{
        display: block;
        padding: 5%;
        justify-content: center;
    }

    #video-section iframe{
        border: 2px solid #B61A22;
        margin-bottom: 4%;
    }

    .card{
        margin: 2vw;
        border: none;
        height: 80vh;
    }

    .card h2{
        font-size: 1.5rem;
    }

}

@media screen and (max-width:600px) {

    /*ABOUT SECTION*/
      
    .img-left{
        width: 7.9rem;
        border: 2px solid #1E1E1E;
    }
    
    .img-right{
        width: 19.2rem;
        border: 2px solid #1E1E1E;
    }

    .grid-about-p{
        padding: 3%;
        margin: 2% auto;
    }

    /*AUDIO SECTION*/

    #audio-section{
        padding: 5% 18%;
    }

    #audio-section a{
        margin-left: 3vw;
    }

    .audio{
        margin: 8% 0%;
    }

    audio{
        width: 40vw;
    }

    .audio h2{
        font-size: 1.2rem;
    }

    .border-section{
        padding: 10vh;
        width: 65vw;
    }

    /*VIDEO SECTION*/

    .card{
        margin: 2vw;
        border: none;
        height: 58vh;
    }

}

@media screen and (max-width:412px) {

    /*MAIN*/
    .main-content{
        top: 6vh;
    }

    .main-content h1{
        font-size: 2rem;
    }

    .main-content h2{
        font-size: 1rem;
    }

    /*ABOUT SECTION*/
      
    .img-left{
        width: 6rem;
        border: 2px solid #1E1E1E;
        border: 1.5px solid #1E1E1E;
    }
    
    .img-right{
        width: 14.8rem;
        border: 1.5px solid #1E1E1E;
    }

    .grid-about-p{
        padding: 5%;
        margin: 3% auto;
        font-size: 0.6rem;
        border: 1.5px solid #1E1E1E;
    }

    /*AUDIO SECTION*/

    #audio-section{
        padding: 5% 10%;
    }

    #audio-section a{
        padding: 1.2vh 18vw;
    }

    .audio-cover img{
        width: 20px;
        margin: 0%;
    }

    .audio{
        margin: 8% 0%;
    }

    .audio h2{
        line-height: 5vh;
    }

    audio{
        width: 60vw;
    }

    .audio h2{
        font-size: 1.2rem;
    }

    .border-section{
        padding: 5vh 10vw;
        width: 80vw;
    }


    /*VIDEO SECTION*/

    .card{
        margin: 2vw;
        border: none;
        height: 34vh;
    }

}

@media screen and (max-width:375px) {

    /*MAIN*/
    .main-content{
        top: 6vh;
    }

    .main-content h1{
        font-size: 2rem;
    }

    .main-content h2{
        font-size: 1rem;
    }

    /*ABOUT SECTION*/
      
    .img-left{
        width: 5rem;
        border: 2px solid #1E1E1E;
        border: 1.5px solid #1E1E1E;
    }
    
    .img-right{
        width: 10rem;
        border: 1.5px solid #1E1E1E;
    }

    .grid-about-p{
        padding: 5%;
        margin: 2% auto;
        font-size: 0.6rem;
        border: 1.5px solid #1E1E1E;
    }

    /*AUDIO SECTION*/

    #audio-section{
        padding: 5% 10%;
    }

    #audio-section a{
        padding: 1.2vh 18vw;
    }

    .audio-cover img{
        width: 20px;
        margin: 0%;
    }

    .audio{
        margin: 8% 0%;
    }

    .audio h2{
        line-height: 5vh;
    }

    audio{
        width: 60vw;
    }

    .audio h2{
        font-size: 1.2rem;
    }

    .border-section{
        padding: 5vh 10vw;
        width: 80vw;
    }


    /*VIDEO SECTION*/

    .card{
        margin: 2vw;
        border: none;
        height: 34vh;
    }

}


/*ABOUT BABYMONSTER PAGE*/


/*DISCOGRAPHY SECTION*/

#discography{
    padding: 5%;
    background-color: var(--light-blue);
}

.song-list li a{
    color: var(--black);
    text-decoration: none;
    line-height: 5vh;
}

.song-list a:hover{
    color: #B61A22;
    border-bottom: 2px solid #B61A22;
    transition: all 200ms ease-out;
}

.song-title{
    color: var(--red);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.song-title:hover{
    border-bottom: 2px solid #B61A22;
    transition: all 200ms ease-out;
}

/*GALLERY BABYMONSTER PAGE*/

/*GALLERY GRID*/

#gallery{
    padding: 5%;
    background-color: var(--light-blue);
}

.card-imgs{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 10px;
    text-align: center;
}

.img img{
    width: 21vw;
    height: 100%;
    object-fit: cover;
}

/*RESPONSIVE GALLERY GRID*/

@media screen and (max-width:1200px) {
    .card-imgs{
        grid-template-columns: repeat(4, 0fr);
        justify-content: center;
    }

    .img img{
        width: 20.5vw;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (max-width:768px) {
    .card-imgs{
        grid-template-columns: repeat(3, 0fr);
    }

    .img img{
        width: 25vw;
        height: 100%;
        object-fit: cover;
    }
}

/*MEMBERS PAGE*/

/*MEMBERS SECTION*/

.members-ms{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 25px;
    padding: 3%;
    justify-content: center;
}

.member-card-mc{
    display: block;
    text-align: center;
}

.member-card-mc p{
    padding: 5%;
}

.member-card-mc img{
    width: 16vw;
    border: 1.5px solid #B61A22;
    margin-bottom: 10px;
}

.a-link {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--black);
    border-bottom: 2px solid #ffffff00;
}

.a-link:hover{
    color: #B61A22;
    border-bottom: 2px solid #B61A22;
    transition: all 300ms ease-out;
}

/*RESPONSIVE MEMBERS SECTION*/

@media screen and (max-width:768px) {
    .members-ms{
        grid-template-columns: repeat(1, 0fr);
        
    }
    
    .member-card-mc{
        display: block;
    }
    
    .member-card-mc p{
        padding: 5%;
    }
    
    .member-card-mc img{
        width: 50vw;
        border: 1.5px solid #B61A22;
        margin-bottom: 10px;
    }
    
}


/*VIDEO GALLERY PAGE*/

/*VIDEO GALLERY SECTION*/

#video-gallery{
    background:var(--light-blue); 
    padding: 3%;
}

#videobox {
    width:100%;
    height: 100%;
    padding:10px; 
  
}

#videobox iframe{
    width: 80%;
    height: 92vh;
}

    .mini {
    background: var(--white);  
    padding:5px;
    height:45%;
    margin-bottom: 20px;
    width:15vw;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition:0.5s;
    transition: 0.5s;
    }
    

    #videobox .video-style{
    float: right;
    overflow: auto;
    width: 16vw;
    height: 90vh;
    }



/*RESPONSIVE VIDEO GALLERY SECTION*/

@media screen and (max-width:768px) {

    #videobox {
        width:100%;
        height: 100%;
        padding:10px; 
    }

    #videobox .video-style{
        float:right;
        overflow:auto;
        width:88vw;
        height:100vh;
    }
    
    #videobox iframe{
        width: 100%;
        height: 45vh;
    }
    
        .mini {
        background: var(--white);  
        padding:5px;
        height:20%;
        width:100vw;
        margin-bottom: 10px;
        -moz-transition: 0.5s;
        -webkit-transition: 0.5s;
        -o-transition:0.5s;
        transition: 0.5s;
        }
       

        .mini img{  
        width: 25vw;
        }
}