/*MEMBERS PAGE*/

/*MEMBERS SECTION*/

.members-ms{
    display: grid;
    grid-template-columns: repeat(4, 0fr);
    gap: 25px;
    padding: 3%;
    justify-content: center;
}

.member-card-mc{
    display: block;
    text-align: center;
    p{
        padding: 5%;
    }
    img{
        width: 16vw;
        border: 1.5px solid #B61A22;
        margin-bottom: 10px;
    }
}

.a-link {
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--black);
    border-bottom: 2px solid #ffffff00;
    &:hover{
        color: #B61A22;
        border-bottom: 2px solid #B61A22;
        transition: all 300ms ease-out;
    }
}



/*RESPONSIVE MEMBERS SECTION*/

@media screen and (max-width:768px) {
    .members-ms{
        grid-template-columns: repeat(1, 0fr);
        
    }
    
    .member-card-mc{
        display: block;
        p{
            padding: 5%;
        }
        img{
            width: 50vw;
            border: 1.5px solid #B61A22;
            margin-bottom: 10px;
        }
    }
}
